# Objetivos e Índice

#### Objetivos

Neste notebook a ideia principal é explorar/modelar as bases de trabalho

#### Índice

- 0.Imports: há a importação das libs e bases

- 1.Análise descritiva: buscando algumas informações descritivas das bases

# 0.Imports

In [8]:
# Importanto Libs e ferramentas
import pandas as pd

# Importando os arquivos CSV
    # Caminho para os arquivos csv
csv_con_path = "../aux_files/conexoes_espec.csv"
csv_ind_path = "../aux_files/individuos_espec.csv"

df_con = pd.read_csv(csv_con_path, sep=';')
df_ind = pd.read_csv(csv_ind_path, sep=';')

# Head
print(df_con.head())
print(df_ind.head())

   V1  V2      grau       proximidade  prob_V1_V2
0   1   2  trabalho  visita_frequente    0.589462
1   1   3  trabalho       visita_rara    0.708465
2   2   4  trabalho     visita_casual         NaN
3   2   5  trabalho       visita_rara    0.638842
4   3   6    amigos        mora_junto         NaN
   name  idade estado_civil  qt_filhos  estuda  trabalha  pratica_esportes  \
0     1   44.0   divorciado        1.0     1.0       0.0               1.0
1     2   24.0       casado        0.0     0.0       0.0               1.0
2     3   35.0     solteiro        1.0     0.0       0.0               1.0
3     4   50.0       casado        1.0     1.0       1.0               0.0
4     5   30.0     solteiro        2.0     1.0       0.0               1.0

  transporte_mais_utilizado        IMC
0                   publico  22.200956
1                   publico  25.378720
2                particular  19.952393
3                   publico  26.732053
4                   publico  15.295668

# 1.Análise Descritiva

## 1.1 Indivíduos

In [27]:
# Contagem de linhas

len(df_ind)

1000000

In [13]:
# Verificando os tipos de dados

df_ind.dtypes

name                           int64
idade                        float64
estado_civil                  object
qt_filhos                    float64
estuda                       float64
trabalha                     float64
pratica_esportes             float64
transporte_mais_utilizado     object
IMC                          float64
dtype: object

In [21]:
# Verificando valores nulos

display(df_ind.isnull().sum())

name                              0
idade                         95937
estado_civil                  50073
qt_filhos                     28867
estuda                        40130
trabalha                       6353
pratica_esportes             149124
transporte_mais_utilizado     43033
IMC                          113870
dtype: int64

In [ ]:
# Análise descritiva das variáveis numéricas

display(df_ind.describe())

,name,idade,qt_filhos,estuda,trabalha,pratica_esportes,IMC
count,1000000.000000,904063.000000,971133.000000,959870.000000,993647.000000,850876.000000,886130.000000
mean,500000.500000,30.008431,0.928406,0.442588,0.556739,0.599823,22.472079
std,288675.278932,10.951566,0.997289,0.496693,0.496771,0.489934,7.073692
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.852828
25%,250000.750000,22.000000,0.000000,0.000000,0.000000,0.000000,17.420851
50%,500000.500000,29.000000,1.000000,0.000000,1.000000,1.000000,21.431200
75%,750000.250000,37.000000,1.000000,1.000000,1.000000,1.000000,26.378197
max,1000000.000000,124.000000,9.000000,1.000000,1.000000,1.000000,89.158204

In [26]:
# Variáveis categóricas

display(df_ind.describe(include='object'))

       estado_civil transporte_mais_utilizado
count        949927                    956967
unique            4                         3
top        solteiro                   publico
freq         420637                    574779

### 1.2 Conexões

In [34]:
# Contagem de linhas

len(df_con)

999999

In [35]:
# Verificando os tipos de dados

df_con.dtypes

V1               int64
V2               int64
grau            object
proximidade     object
prob_V1_V2     float64
dtype: object

In [36]:
# Verificando valores nulos

display(df_con.isnull().sum())

V1                  0
V2                  0
grau                0
proximidade         0
prob_V1_V2     500000
dtype: int64

In [43]:
# Análise descritiva das variáveis numéricas

display(df_con.describe())

                  V1              V2     prob_V1_V2
count  999999.000000   999999.000000  499999.000000
mean   250000.250000   500001.000000       0.485162
std    144337.495129   288674.990257       0.173963
min         1.000000        2.000000       0.074462
25%    125000.500000   250001.500000       0.351677
50%    250000.000000   500001.000000       0.486413
75%    375000.000000   750000.500000       0.618210
max    500000.000000  1000000.000000       0.942245

In [39]:
# Variáveis categóricas

display(df_con.describe(include='object'))

            grau  proximidade
count     999999       999999
unique         3            4
top     trabalho  visita_rara
freq      333548       400238